:root {
  --color-white: #fff;
  --color-dark: #333;
  --color-extra-dark: #292929;
  --color-gray: #949494;
  --color-light-gray: #eee;
  --color-red: #ee4949;
  --color-green: #55c955;
  --color-extra-light-blue: #f9fbfd;
  --color-light-blue: #add8e6;
  --color-blue: #6fbad3;

  --color-orange: #a53212;
  --color-dark-orange: #601d0b;

  --color-semi-white: rgba(255, 255, 255, 0.5);

  /* LIGHT Mode */
  --color-primary: var(--color-blue);
  --color-bg-main: var(--color-light-gray);
  --color-bg-card: var(--color-white);
  --color-text: var(--color-dark);

  --header-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
  --item-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
}

/* DARK Mode */
:root .dark-mode {
  --color-primary: var(--color-orange);
  --color-bg-main: var(--color-dark);
  --color-bg-card: var(--color-extra-dark);
  --color-text: var(--color-gray);
}